<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        <ul>
            {% block content %}
            {% for recipe in recipes %}
                <h2><a href="/ledger{{ recipe.link }}">{{ recipe.name }}</a></h2>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.name }}, {{ ingredient.quantity }}</li>
                {% endfor %}
            {% endfor %}
            {% endblock %}
        </ul>
    </body>
</html>
